# {title}

{description}.

## For Consumers

### Installation

```bash
python{python_major}.{python_minor} -m venv .venv
source .venv/bin/activate
```

## For Developers

### Prepare a virtual environment

Execute the following commands:
```bash
python{python_major}.{python_minor} -m venv .venv
source .venv/bin/activate
pip install -r requirements.txt
pip install -r requirements-dev.txt
```
