The example of files content generating.

Name of the bootstrap is {name}.
Description of the bootstrap is "{description}".
Use {{demo}} placeholder for getting value of "demo" argument.

Also, it's able to use the following computed placeholders (based on name value):
- {{python_name}} = {python_name},
- {{upper_name}} = {upper_name},
- {{class_name}} = {class_name},
- {{title}} = "{title}".

Also, it's able to use other computed placeholders:
- {{empty}} = "{empty}",
- {{date_today}} = {date_today},
- {{date_year}} = {date_year},
- {{python_major}} = {python_major},
- {{python_minor}} = {python_minor}.
