name = {name}
underscored_name = {underscored_name}
upper_name = {upper_name}
class_name = {class_name}
title= {title}
description = {description}
empty = "{empty}"
date_today = {date_today}
date_year = {date_year}
python_major = {python_major}
python_minor = {python_minor}
