from unittest import TestCase

import {underscored_name} as app_package


class ApplicationTestCase(TestCase):
    def test_app_package(self):
        assert app_package.NAME
        assert app_package.VERSION
        assert app_package.PY_VERSION
