"""{title}.

{description}.
"""

__all__ = ("NAME", "VERSION", "PY_VERSION", "AUTHOR", "AUTHOR_EMAIL")

NAME = "{name}"
TITLE = "{title}"
DESCRIPTION = "{description}"

VERSION = (
    0,
    1,
    0,
)
PY_VERSION = (
    {python_major},
    {python_minor},
)

AUTHOR = "{author}"
AUTHOR_EMAIL = "{author_email}"
